@import "common.scss";

h1, h2, h3, h4 {
  text-align: center;
}

section {
  padding-bottom: 40px;

  > .row {
    padding-top: 30px;
  }

  .submit {
    text-align: center;
  }

  .m4 {
    p, h5, em {
      padding-left: 20px;
    }

    h4 {
      padding-bottom: 20px;
    }

    i {
      margin-right: 10px;
      height: 100%;
    }
  }

  .socials {
    text-align: center;

    p {
      padding-left: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    img {
      height: 70px;
      width: auto;
      margin: 10px;
      padding: 0;
    }
  }

  .submit {
    button {
      background-color: $palette-light-blue;
    }
    .submit-btn:hover {
      background-color: $palette-mid-blue;
    }
  }
}

.address {
  p {
    margin: 0;
  }
}

#map {
  width: 100%;
  height: 400px;
}


#success, #fail {
  display: none;
}
