@import "common.scss";

h1, h2, h3 {
  text-align: center;
}

p {
  padding: 8px 0 8px 0;
  font-size: 1.05rem;
}

button{

}

#mobile-image-wrapper {
  text-align: center;
  img {
    height: 250px;
    width: auto;
    text-align: center;
  }

}