@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//COLOR PALETTE
@import "common.scss";


#landing {
  background: url('../img/burnham-pier.jpg');
  background-size: cover;

  > div {
    padding: 100px 0 100px 0;
  }

}

section {
  margin: 0 0 100px 0;
}

#bacp-logo {
  padding: 50px;
}

.text-section {
  .row {
    height: 377px;
  }

  .col {
    height: 100%;
    @media (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 1.08rem;
    padding-bottom: 11px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.7rem;
    padding-bottom: 16px
  }
}

.card {
  margin-top: 0;
  background-color: $palette-greengray;
  height: 100%;
}

.introduction {
  border-radius: 10px;
  padding: 100px 60px;
  background: #fafafaa0;
  text-align: center;


  h1 {
    font-size: 3.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 100;
  }

  h3 {
    font-size: 2.5rem;
    margin-top: 70px;
  }

  h4 {
    font-size: 1.5rem;
  }


}

.questions {
  position: relative;

  h4 {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  h4:nth-child(1) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
  }

  h4:nth-child(2) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }

  @keyframes fade {
    0%, 45% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.fees {
  color: #fafafa;

  li {
    padding: 6px 0 6px 0;
    font-size: 1.36rem;
  }

  h2, h5, h6 {
    text-align: center;
  }

  .card-title {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    padding-bottom: 10px;
    font-size: 1.2rem;
  }

  .card-content .s4 {
    text-align: right;
  }

  a {
    color: $palette-light-blue;
  }

  .card {
    background-color: $palette-light-blue;
    color: #fafafa;
  }

  .card-panel {
    background-color: $palette-light-blue;

    p {
      padding: 1px;
      margin: 4px;
      font-size: 1.02rem;
    }
  }
}



