@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); //COLOR PALETTE
$palette-cream: #f7d6bf;
$palette-greengray: #b0cac7;
$palette-light-blue: #318fb5;
$palette-mid-blue: #005086;
$palette-dark-blue: #001244;
body {
  background-color: #fafafa;
}

img {
  width: 100%;
}

nav {
  background-color: $palette-light-blue;
}

#landing {
  background: url('../img/burnham-pier.jpg');
  background-size: cover;
}

#bacp-logo {
  padding: 50px;
}

.main-body {
  padding: 100px 0 100px 0;
}

.intro-text {
  font-size: 1.5rem;
}

.introduction {
  border-radius: 10px;
  padding: 100px 60px;
  background: #fafafaa0;
  text-align: center;


  h1 {
    font-size: 3.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 100;
  }

  h3 {
    font-size: 2.5rem;
    margin-top: 70px;
  }

  h4 {
    font-size: 1.5rem;
  }


}

.questions {
  position: relative;

  h4 {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  h4:nth-child(1) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
  }

  h4:nth-child(2) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }

}


@keyframes fade {
  0%, 45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.brand-logo {
  font-family: 'Comfortaa', cursive;
  font-weight: 200;
}


